
.left-red {
    text-align: left;
    color: #FF0000;

}

.right-black {
    color: Black;
    text-align: left;
}

.center-black {
    text-align: center;
    color: #000000;
}

.center-yellow {
    color: #FFFF00;
    font-weight: bolder;
}

.center-green {
    text-align: right;
    color: #008000;
    font-weight: bolder;
}

.first-columns {
    margin-right: 2%;
    margin-bottom: 2%;
    vertical-align: top;
    display: inline-block;
    width: 16%;
}

.left-black {
    font-style: italic;
    width: 34%;
    text-align: center;
}

.center-red {
    color: Red;
    text-align: left;
    width: 16%;

}

.center-black2 {
    text-align: left;
    font-weight: bolder;
    width: 16%;

}

.right-black2 {
    width: 16%;
    text-align: left;
}

.left-green {
    color: Green;
    text-align: left;
    width: 16%;
}

.center-width-blue {
    color: #0000FF;
    text-align: left;
    width: 52%;
}

.right-green {
    color: Green;
    text-align: right;
    width: 16%;
}

.other-columns {
    margin-bottom: 2%;
    margin-right: 2%;
    vertical-align: top;
    display: inline-block;
}

.center-blue {
    color: #0000FF;
    text-align: center;
    width: 34%;
    font-weight: bolder;
}

.right-red {
    color: #FF0000;
    text-align: center;
    width: 34%;

}

















